.main{
box-sizing: border-box;
margin: 20px;

}.social{

    float: right;
    
}
nav div a{
text-decoration: none;
color: black;


}
.nav1{

    margin-top: 2%;
}
.nav .green{
color: rgb(37, 230, 37);

}
.nav2{

    word-spacing: 5px;
    margin-left: 62%;
}
.name{

position: absolute;
top: 50%;
margin-left:45%;
font-size: larger;
font-weight: 35px;

}
.main1{

position: relative;
top: 0;
}
.name2{
justify-content: center;
position: absolute;
top: 45%;
margin: 10%;
text-align-last: center ;
font-size: larger;
}
.but{
background-color: rgb(13, 219, 13);
color: aliceblue;
position: absolute;
top: 75%;
left: 50%;
padding: 1%;
border-radius: 10%;
}
.footer{
display: flex;



}


.task2{
background-color: rgb(171, 249, 171);
width: 100%;
height: 100vh;
}
.img{

display: flex;
justify-content: space-evenly;
margin-top: 4%;
}
.img1{
background-color: aliceblue;
width: 20%;
height: 70vh;
border-radius: 5%;


}
.img2{

    background-color: aliceblue;
    width: 20%;
    height: 70vh;
    border-radius: 5%;
    }
    .img3{

        background-color: aliceblue;
        width: 20%;
        height: 70vh;
        border-radius: 5%;
        }
        h3{
            text-align: center;
        }
        h4{

          text-align: center;
          color: rgb(146, 156, 156);  
        }
        .task3{

width: 100%;
height: 80vh;
margin-top: 200px;

        }
        table{

        }
 td input{

padding: 20px;

    
}
.map{
}
@media screen and (max-width:570px){
    
    .green{
        
   }
    .name{
    font-size:10px ;
        display: flex;
        margin-left: 40%;
        
      
    }
    .name2{
       
     font-size: 10px
        
        
    }
    .but{
        margin-top: 10px;
       margin-left: -40px ;
        padding:0;
    }
     

    .task2{
        height: 129vh;

        
    }
    .img1{
        height:500px
    }
    .img2{
        
        height: 500px
    }
    .img3{
        height: 500px
    }
    .contact{
        
        width: 50%;
        display: flex;
        flex-direction: column;
        }
    .mail{
        margin-top: 20px;
    }
    .karthik{

margin-top: 10%;
    }
    }
